{:deps {org.clojure/clojure {:mvn/version "1.10.1"}
        org.clojure/clojurescript {:mvn/version "1.10.597"}
        rum {:git/url "https://github.com/tonsky/rum.git"
             :sha "f230e33f99aaa413136e7bc5e1dca63177b9a56c"}}}
